{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        <div class="row">

            {% for item in object.order_items.select_related %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="{{ item.product.photo.url }}" alt="{{ item.product.desc }}" class="img-fluid">
                        <div class="card-body">
                            <span class="category_name">
                                {{ item.product.category }} /
                            </span>
                            <span class="product_name">
                                {{ item.product.name }} /
                            </span>
                            <span class="product_price">
                                {{ item.product.price }} руб.
                            </span>
                            <span class="product_quantity">
                                x {{ item.quantity }}
                            </span>
                            <span class="product_cost">
                                = {{ item.get_product_cost }} руб.
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'ordersapp/includes/inc_order_actions.html' %}
    </div>

{% endblock %}